<script lang="ts" setup>
import { ref, computed } from "vue";
const numberRange = ref("0");
const num = computed(() => {
  return parseInt(numberRange.value);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-form>
          <v-text-field
            v-model="numberRange"
            label="Please input Number"
            :rules="[(v) => !!v || 'Number is not empty!!']"
            required
          ></v-text-field>
        </v-form>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="1" v-for="num of num" :key="num">{{ num }}</v-col>
    </v-row>
  </v-container>
</template>
