<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>

<template>
  <v-container>
    <v-card class="mx-auto" max-width="344" outlined>
      <p>Product</p>
      <v-btn justify-center>ADD</v-btn>
    </v-card>
  </v-container>

  <div>
    {{ products }}
  </div>
</template>
