<script lang="ts" setup>
import { ref } from "vue";
const feel = ref(["angry", "cute", "excited", "pain", "shoked"]);
const changeFeel = ref("smile");
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img
          :src="`${changeFeel}.png`"
          max-width="900px"
          max-height="900px"
        ></v-img>
      </v-col>
      <v-row>
        <v-col>
          <div class="text-h4 text-center ma-8">{{ changeFeel }}</div>
        </v-col>
        <v-col v-for="(feel, index) of feel" cols="12" :key="index">
          <v-btn
            block
            @click="changeFeel = feel"
            :class="{ btnColor: changeFeel === feel }"
            >{{ feel }}</v-btn
          >
        </v-col>
      </v-row>
    </v-row>
  </v-container>
</template>

<style scoped>
.btnColor {
  background-color: yellow;
}
</style>
