<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCount = useCounterStore();
</script>
<template>
  <p class="font-weight-medium">First Component</p>
  <p>{{ useCount.count }}</p>
  <v-btn @click="useCount.increment" class="ma-4">INCREMENT</v-btn>
</template>
