<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCount = useCounterStore();
</script>

<template>
  <p class="font-weight-medium">Second Component</p>
  <p>{{ useCount.count * 2 }}</p>
  <v-btn @click="useCount.decreament" class="ma-4">DECREASE</v-btn>
</template>
